* {
  font-family: "Space Mono";
}
body {
  background-color: #000B1D;
}
#root {
  z-index: 2;
  padding: 2rem;
  margin: 0 auto auto;
  max-width: 640px;
  width: 100%;
}
#header-bg {
  background-image: url(assets/bpp-gif.gif);
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(10px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header {
  padding-bottom: 4.5em;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: calc(2em + 3vw);
}
h2 {
  font-size: calc(1em + 1vw);
}


.blurb {
  position: relative;
}
#blurb-bg {
  position: absolute;
  z-index: -1;
  top: -40%;
  left: -50px;
  display: flex;
  align-items:start;
}

#client-list {
  display: flex;
  justify-content: space-evenly;
}

.testimonial {
  padding: 20px;
  border-radius: 20px;
  background-color: black;
}